{{#each blings}}

  <div class="mb-4 col-md-10 text-center">
    <h3 class="card-header">{{title}}</h3>
    <p class="card-body">{{bling}}</p>
    <div class="row">
    <form action="/blings/edit/{{id}}" class="text-left ">
      <button type="submit" class="btn btn-primary text-center">EDIT</button>
    </form>
    <form action="/blings/{{id}}?_method=DELETE" method="POST" class="text-left">
      <button type="submit" class="btn btn-warning">DELETE</button>
    </form>
    </div>
  </div>
{{else}}
<p>No Blings listed</p>
{{/each}}